{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-12 text-center">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="p-2 btn btn-outline-warning">
                    {% if object %}
                    Сохранить изменения
                    {% else %}
                    Создать материал
                    {% endif %}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}