{% extends 'catalog/base.html' %}
{% load media_tag %}
{% load static %}

{% block content %}
<div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card mb-4 box-shadow">
        <div class="card-body text-center">
            {% if object.preview %}
            <img src="{% mediapath object.preview %}" alt="{{ object }}" width="256px"/>
            {% else %}
            <img src="{% static 'img/default_article.png' %}" alt="{{ object }}" width="256px"/>
            {% endif %}
        </div>
    </div>
</div>

<div class="col-lg-9 col-md-6 col-sm-12">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <small class="d-block mb-3 text-muted">Просмотров: {{ object.views }}</small>
            <p>
                {{ object.content }}
            </p>
        </div>
    </div>
    <p>
        <a href="{% url 'blog:edit_article' object.slug %}"
           class="m-1 btn btn-sm btn-outline-warning">Редактировать статью</a>
        <a href="{% url 'blog:delete_article' object.slug %}"
           class="m-1 btn btn-sm btn-outline-danger">Удалить статью</a>
    </p>
</div>
{% endblock %}