{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-lg-9 col-md-6 col-sm-12">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            {% for one_contact in contacts %}
            <h4 class="mb-2 my-0 font-weight-normal">{{one_contact.name}}</h4>
            <table class="table table-striped">
                <tr>
                    <td class="w-25">Адрес</td>
                    <td>{{one_contact.address}}</td>
                </tr>
                <tr>
                    <td class="w-25">Телефон</td>
                    <td>{{one_contact.phone}}</td>
                </tr>
                <tr>
                    <td class="w-25">Email</td>
                    <td>{{one_contact.email}}</td>
                </tr>
            </table>
            {% endfor %}
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Свяжитесь с нами</h4>
        </div>
        <div class="card-body">
            <form method="post" action="" class="form-floating">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name">Имя</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Представьтесь"
                           required>
                </div>
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" id="email"
                           placeholder="Ваш адрес электропочты" required>
                </div>
                <div class="mb-3">
                    <label for="message">Сообщение</label>
                    <textarea type="text" name="message" class="form-control" id="message"
                              placeholder="О чём вы хотите нам сообщить?" required></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Отправить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
