{% extends 'catalog/base.html' %}
{% load media_tag %}
{% load static %}

{% block content %}
<div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            {% if object.photo %}
                <img src="{% mediapath object.photo %}" alt="{{ object }}" />
            {% else %}
                <img src="{% static 'img/default.png' %}" alt="{{ object }}" />
            {% endif %}
        </div>
    </div>
</div>

<div class="col-lg-9 col-md-6 col-sm-12">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <small class="d-block text-muted">Категория:
                {{ object.category }}
            </small>
            <small class="d-block mb-3 text-muted">Производитель:
                {{ object.category.description }}
            </small>
            <p>
                {{ object.description }}
            </p>
            <h2 class="card-title pricing-card-title">Цена:
                {{ object.price }}
            </h2>
            <button type="button" class="w-100 btn btn-lg btn-success my-2">Купить</button>
        </div>
    </div>
</div>
{% endblock %}